<footer class="container">
    <nav>
        <ul>
            <li><a href="index.html">Portada</a></li>
            <li><a href="category.html">Categoria</a></li>
            <li><a href="presentation.html">Presentació</a></li>
            <li><a href="links.html">Enllaços</a></li>
        </ul>
    </nav>
    <div class="divider">
        <img src="./img/divider_green.svg" alt="">
    </div>
    <div class="author">
        <p>2024 Javier Garcia Fortanet</p>
        <p>Assignatura: Eines HTML i CSS I</p>
        <p>Universitat Oberta de Catalunya</p>
    </div>
</footer>