/* ***** Global variables ***** */

$font-stack: Helvetica, Arial, sans-serif;

$breakpoint-small: 576px;

/* Default colors */
:root {
    --color-title: #66590D;
    --color-text: #2e2300;
    --color-link:#A33107;
    --color-contrast-link:#cb0000;
    --color-background: #fff;
    --color-shadow: #f6f5f4;
}

/* Colors for dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --color-title: #8b8c47;
        --color-text: #d0d0d0;
        --color-link:#db653d;
        --color-contrast-link: #ffa348;
        --color-background: #222;
        --color-shadow: #2d2d2d;
    }
}


/* ***** Global styles ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    font-weight: 400;
    color: var(--color-text);
    line-height: 2;
    text-align: justify;
    background-color: var(--color-background);
}

@mixin titles {
    color: var(--color-title);
    text-align: left;
}

h1 {
    @include titles;
    font-size: clamp(2rem, 3vw, 3rem);
    
}

h2 {
    @include titles;
    font-size: clamp(1.5rem, 2vw, 2rem);
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

h3 {
    @include titles;
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

figcaption {
    margin-top: 0.50rem;
    font-size: 0.80rem;
}

.container {
    margin: 0 auto;
    width: 80%;
}

header {
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    box-shadow: 0px 3px 0px var(--color-shadow);
    img {
        width: 15%;
        height: auto;
    }
    h1 {
        margin: 0 auto 0 12%;
    }
}

footer {
    div.divider {
        text-align: center;
        img {
            max-width: 25%;
            height: auto;
            margin-bottom: 0.8rem;
        } 
    }
    nav {
        text-align: center;
        font-size: clamp(1rem, 1.5vw, 1.5rem);
        margin-top: 3rem;
        margin-bottom: 1rem;
        ul {
            border-radius: 20px;
            width: 50%;
            margin: 0 auto;
            li {
                display: inline-block;
            }
            li::before {
                content: " | ";
                width: 10px;
            }
            li:first-child::before {
                content: "";
            }
        }
    }
    div.author {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 0.80rem;
        padding-top: 1rem;
    }
}

nav {
    ul {
        li {
            display: inline-block;
        }
        li::before {
            content: " | ";
            width: 10px;
        }
        li:first-child::before {
            content: "";
        }
    }
}

a {
    color: var(--color-link);
    text-decoration: underline;
    -webkit-transition: font-weight 0.5s ease-out, color 0.5s ease-out;
    -o-transition: font-weight 0.5s ease-out, color 0.5s ease-out;
    transition: font-weight 0.5s ease-out, color 0.5s ease-out;
}

a:hover {
    color: var(--color-contrast-link);
    font-weight: 700;
    text-decoration: underline;
}


body.index {
    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 2rem;
        div {
            position: relative;
            width: 50%;
            #ornament-image {
                width: 90%;
                height: auto;
                -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
                -o-mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
                mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
            }
            #overlay-image {
                position: absolute;
                top: 45%;
                left: 50%;
                max-width: 65%;
                height: auto;
                -webkit-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                clip-path: circle(40% at 50% 50%);
            }
            h2 {
                position: absolute;
                top: 95%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                color: var(--color-title);
                font-weight: 700;
                font-size: clamp(0.25rem, 1.25vw, 3rem);
            }
        }
    }
}


/* ***** Page: category.html ***** */

body.category {
    main {
        text-align: center;
        h1, h2 {
            text-align: center;
        }
        ul {
            list-style: none;
            margin: 2rem;
            li {
                font-size: clamp(1rem, 1.5vw, 1.5rem);
                margin-bottom: 1.5rem;
                picture img {
                    display: block;
                    margin: 0 auto;
                    max-width: 45%;
                    height: auto;
                    border-radius: 20px;
                    box-shadow: 3px 5px 5px var(--color-shadow);
                }
                picture img:hover {
                    border: 2px solid var(--color-contrast-link);
                }
            }
        }
    }
}


/* ***** Page: presentation.html ***** */

body.presentation { 
    main {
        .slider {
            overflow: hidden;
            width: 50%;
            margin: 0 auto;
            margin-top: 1rem;
            .slider-inner {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                -webkit-transition: transform 0.5s ease-in;
                -o-transition: transform 0.5s ease-in;
                transition: transform 0.5s ease-in;
                img {
                    display: block;
                    min-width: 100%;
                    height: auto;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    border-radius: 20px;
                    box-shadow: 3px 5px 5px var(--color-shadow);
                }
            }
            p {
                font-size: 0.80rem;
                text-align: center;
                margin-top: 0.75rem;
            }
        }
        dl {
            dt, dd {
                padding-left: 1.5rem;
            }
            dt {
                font-weight: 700;
            }
            dt::before {
                content: "";
                display: inline-block;
                width: 1rem;
                height: 1rem;
                margin-right: 1rem;
                background-color: var(--color-contrast-link);
            }
        }
        .iframe-container {
            position: relative;
            max-width: 100%;
            height: 450px;
            overflow: hidden;
            margin-bottom: 1rem;
            border-radius: 20px;
            box-shadow: 3px 5px 5px var(--color-shadow);
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: none;
            }
        }
        #weather-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            align-items: center;
        }
        @media (max-width: $breakpoint-small) {
            #weather-container {
                grid-template-columns: 1fr;
            }
        }
        
        #weather-info {
            text-align: center;
        }
        
        #park-icon {
            width: 200px;
        }
        
        #weather-icon {
            animation: moveUp 3s 1 ease-in forwards;
        }
        @keyframes moveUp {
            0% { transform: translate(0%, 50%); opacity: 0; }
            50% { transform: translate(0%, 30%); opacity: 0; }
            100% { transform: translate(5%, 15%); opacity: 1; }
        }

        #weather-data {
            padding-left: 1rem;
            ul {
                list-style-type: square;
                li::marker {
                    color: var(--color-contrast-link);
                }
            }
        }
    }
}


/* ***** Pages: detail-flora.html, detail-wildlife.html and detail-heritage.html ***** */

body.detail {
    main {
        margin-top: 2rem;
        figure {
            text-align: center;
        }
        .featured-image {
            -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 2%, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 0) 100%);
            -o-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 2%, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 0) 100%);
            mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 2%, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 0) 100%);
        }
        picture {
            display: block;
            width: 100%;
            height: 25rem;
            overflow: hidden;
            border-radius: 20px;
            box-shadow: 3px 5px 5px var(--color-shadow);
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
        }
        nav {
            text-align: right;
            font-size: clamp(1rem, 1.25vw, 1.5rem);
            padding-right: 10px;
            margin-top: 2rem;
        }
        .detail-items {
            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                list-style-type: none;
                width: 80%;
                margin: 0 auto;
                li {
                    text-align: center;
                    picture {
                        display: block;
                        max-width: 100%;
                        height: auto;
                        margin: 0 auto;
                        border-radius: 20px;
                        box-shadow: 3px 5px 5px var(--color-shadow);
                        img {
                            vertical-align: middle;
                        }
                    }
                    iframe {
                        display: block;
                        max-width: 100%;
                        width: 560px;
                        height: 315px;
                        margin: 0 auto;
                        margin-bottom: 1rem;
                        border: none;
                        border-radius: 20px;
                        box-shadow: 3px 5px 5px var(--color-shadow);
                    }
                    p {
                        font-size: 0.80rem;
                    }
                }
            }
            @media (max-width: $breakpoint-small) {
                ul {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}


/* ***** Page: links.html ***** */

body.links {
    main {
        ul {
            list-style-type: square;
            margin-left: 3rem;
            p {
                font-weight: 700;
                display: inline-block;
            }
        }
    }
}